extends: default
rules:
  truthy:
    allowed-values: ["true", "false", "on"]
  document-start:
    present: false
    level: warning
  comments:
    min-spaces-from-content: 1
  line-length: disable
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  indentation:
    spaces: consistent
    indent-sequences: false
    check-multi-line-strings: false
